// Color Palette
// ================================
$color: #ffffff !default;
$background: #273c75 !default;

// Breakpoints
// ================================
$bp-mobile: 600px;
$bp-tablet: 800px;
$bp-desktop: 1100px;