header {
  background-color: black;
  padding: cre(10px) 0 cre(40px);
  margin-bottom: cre(40px);
  z-index: 2;

  @include breakpoint($bp-mobile) {
    padding: cre(10px) 0 cre(40px);
    margin-bottom: 0;
    min-height: auto;
  }

  h1 {
    font-size: cre(28px);
    color: transparent;
    line-height: 1;
    position: relative;

    @include breakpoint($bp-mobile) {
      font-size: cre(48px);
    }

    &::before {
      content: '';
      background-image: url('../images/dna-logo.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      max-width: cre(217px);
      height: cre(60px);
      transform: translateX(-50%);

      @include breakpoint($bp-mobile) {
        height: cre(80px);
      }
    }
  }
}